h1{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: pink;
}

body {
    background-color: lightsalmon;
}

p{
    color: red;   
}

.parrafo{
    color: black;
}
/* }
Se puede utilizar un etiqueta para darle el  estilo  a una seccion deseada  */
#seccion p {
    color: darkred;
}

.parrafo{
    color: rebeccapurple;
}

.final{
    color: green;
}
/* #div-parrafo{
    color: blue;
} */