h1{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: pink;
}

p{
    color: red;   
}

.parrafo{
    color: black;
}

#seccion p {
    color: darkred;
}

/* #div-parrafo{
    color: blue;
} */