h1{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: pink;
}

body {
    background-color: lightsalmon;
}

p{
    color: red;   
}

.parrafo{
    color: black;
}
/* }
Se puede utilizar un etiqueta para darle el  estilo  a una seccion deseada  */
#seccion p {
    color: darkred;
}

.parrafo{
    color: rebeccapurple;
}

.final{
    color: green;
}
/* #div-parrafo{
    color: blue;
} */

 /* Combinadores */

 /* Tipos:
 "+, > , ~" */

 /* aplica el estilo a los hijos de la etiqueta inicial */

 /* body p {
    color: red;
 } */

 /* + Le aplica estilos a los hermanos posteriores 
h2 + p {
    color: red;
} */

/* Le aplica a todos  los hemanos
h2 ~ p {
    color: red;
}  */
/* Le aplica a todos los hijos p de body */
body > p {
    color: grey;
}